/* incloud */
@import "variables";
@import "font";
/*  start generic style */
body{/* 
    background-color: $backgroundColor; */
    color: $fontColor;
    font-family: 'Open Sans';
    scroll-behavior: smooth;
    background-color: $backgroundColor;

}
/*  end generic style */

/* start header style */
.main-header{
    margin-bottom: 4rem;
    /* start navbar container */
    .nav-container.active{
        box-shadow:  0px 5px 7px $hoverColor;
        background-color: $backgroundColor;
        transition: all .7s ease-in-out;
    }
    .nav-container{
        background-color: #1b2533;
        padding: 8px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        z-index: 1000;
        .logo{
            h6{
                a{
                    font-family: "Carter One";
                    font-size: 40px;
                    text-decoration: none;
                    color: $fontColor;
                    text-shadow: 0px 5px 12px $hoverColor;
                }
            }
        }

        .nav-menu{
            width: 37%;
            li{
                a.nav-links{
                    color: $hoverColor;
                    text-decoration: none;
                    font-family: 'Open Sans';
                    transition: all .4s ease-in-out;
                    padding:5px;
                    letter-spacing: 1px;
                    &:hover{
                        color: $fontColor;
                        text-shadow: 0px 3px 7px #fff;
                    }
                }
                a.nav-links.active{
                    color: $fontColor;
                    border-bottom: 1px solid $fontColor;
                    text-shadow: 0px 3px 7px #fff;
                }
                a.btn-sign{
                    transition: all .4s ease-in-out;
                    border: 1px solid $fontColor;
                    border-radius: 8px;
                    padding: 5px 10px;
                    position: relative;
                    &:hover{
                        background-color: $fontColor;
                        color: $backgroundColor;
                        font-weight: bold;
                        font-family: "Carter One";
                        &::after{
                            content: '';
                            position: absolute;
                            right: -20%;
                            top: 30%;
                            right: 5;
                            width: 0;
                            height: 0;
                            border-left: 10px solid $fontColor;
                            border-top: 6px solid transparent;
                            border-bottom: 6px solid transparent;
                        } 
                    }
                }
            }
        }
    }
    /* /-end navbar container */
}
/* strat media queries breakpoints  for header and navbar */
@media (max-width: 767.98px) {
    .main-header{
        margin-bottom: 3rem;
        .nav-container{
            .logo{
                h6{
                    a{
                    font-size: 30px;
                    }
                }
            }

            .menu-toggle{
                cursor: pointer;
                .bar{
                    margin-bottom: 5px;
                    margin-top: 7px;
                    width: 50px;
                    height: 4px;
                    background-color: #fff;
                    display: block;
                    transition: all .4s ease-in-out;
                }
                .active:nth-child(2){opacity: 0;}
                .active:nth-child(1){
                    transform: translateY(14px) rotate(45deg);
                    width: 35px;
                }
                .active:nth-child(3){
                    transform: translateY(-7px) rotate(-45deg);
                    width: 35px;
                }
            }
    
            .nav-menu{
                position: absolute;
                left: -100%;
                top: 80px;
                flex-direction: column;
                width: 90%;
                margin: auto;
                padding: 10px;
                background-color: $fontColor;
                border-radius: 8px;
                transition: all .4s ease-in-out;
                li{
                    padding: 9px 0;
                    a.nav-links{
                        color: $backgroundColor;
                        font-weight: bold;
                        &:hover{
                            color: $backgroundColor;
                            text-shadow: 0px 3px 7px $backgroundColor;
                        }
                    }
                    a.nav-links.active{
                        color: $backgroundColor;
                        border-bottom: 1px solid $backgroundColor;
                        text-shadow: 0px 3px 7px $backgroundColor;
                    }
                    a.btn-sign{
                        border: 1px solid $backgroundColor;
                        &:hover{
                            background-color: $backgroundColor;
                            color: $fontColor;
                            font-weight: bold;
                            font-family: "Carter One";
                            &::after{
                                content: '';
                                position: absolute;
                                left: 37%;
                                top: 112%;
                                right: 5;
                                width: 0;
                                height: 0;
                                border-left: 10px solid transparent;
                                border-right: 10px solid transparent;
                                border-top: 10px solid $backgroundColor;
                            } 
                        }
                    }
                }
            }
            .nav-menu.active{left: 5%;}
        }
    }
}

/* /-end media queries breakpoints  for header and navbar */
/* /-end header style */

/* start intro scetion */
.intro-container{
    background-color: #1b2533;
    background-image: url('../assets/svg/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    text-align: center;
    padding-top: 60px;
    img{
        width: 95%;

    }
    h3{
        font-family: "Carter One";
        margin: 11px auto;
    }
    p{
        font-family: 'Open Sans';
        margin: auto;
    }
    button{
        font-family: "Carter One";
        background: $buttonColor;
        padding: 4px 38px;
        border: none;
        border-radius: 16px;
        outline: none;
        margin: 13px auto;
        color: $fontColor;
        transition: all .4s ease-in-out;
        &:hover{
            background-color: $fontColor;
            color: $backgroundColor;
        }
    } 
}

/* start media queries breakpoints  for intro section */
@media(min-width:768px){
    .intro-container{
        img{width: 45%;}
        h3{width: 45%;}
        p{width: 45%;}
        button{
            font-family: "Carter One";
            background: $buttonColor;
            padding: 4px 38px;
            border: none;
            border-radius: 16px;
            outline: none;
            margin: 13px auto;
            color: $fontColor;
        } 
    }
}
/* /-end media queries breakpoints  for intro section */
/* /-end intro scetion */

/* start work section */
.work-container{
    margin-top: 6rem;
    .script{
        h2{
            font-size: 3rem;
            font-family: "Carter One";
            margin: 15px auto;
        }
        p{
            font-family: 'Open Sans';
        }
        a{
            color: $buttonColor;
        }
    }
}
/* start media queries breakpoints  for intro section */
@media (max-width:768px){
    .work-container{
        .script{
            h2{font-size: 2rem;}
        }
    }
}
/* /-end media queries breakpoints  for intro section */
/* /-end work section */

/* start featuers section */
.featuer-containrt{
    margin-top: 6rem;
    .features-section-heading{
        font-family: "Carter One";
        text-align: center;
        padding: 10px;
        margin: 30px auto;
        text-transform: capitalize;
    }
    .content-container{
        padding: 5px;
        text-align: center;
        img{
            margin-bottom: 20px;
        }
        h5{
            font-family: "Carter One";
        }
        p{
            font-family: 'Open Sans';
            width: 82%;
            margin: auto;
        }
    }
}
/* /-end featuers section */

/* start gallery and team section */
.team-containrt{
    margin-top: 6rem;
    .team-section-heading{
        font-family: "Carter One";
        text-align: center;
        padding: 10px;
        margin: 40px auto;
        text-transform: capitalize;
    }
    // team gallery style
    .team-imgs{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .img-cell{
            position: relative;
            height: 275px;
            max-width: 250px;
            flex: 0 1 250px;
            margin: 2px;
            box-shadow: 0 0 15px 0 #363a41;
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            cursor: zoom-in;
                &:hover{
                    transform: scale(1.2);
                    transition: all .4s ease-in-out;
                    z-index: 1;
                }
            .img-cell::after,
            .img-cell::before{
                width: 100%;
                height: 275px;
                position: absolute;
                display: block;
                clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            }
            /* img item */
            .img-cell-item{
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 275px;
                position: absolute;
                display: block;
                clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            }
        }
    }

    .img-cell::before{
        content: '';
        position: absolute;
        opacity: 0;
        width: 350px;
        height: 50px;
        background-color: $fontColor;
        transform: rotate(45deg);
        z-index: 2;
    }
    .img-cell:hover::before{
        opacity: 0.7;
        transform: translate(-200px, 600%) rotate(45deg);
        transition: transform 1.5s;
    }

/* start media queries breakpoints  for team section */
    

/* /-end media queries breakpoints  for team section */

    // team info  style
    .team-info{
        .team-card{
            padding: 25px;
            border-radius: 12px;
            box-shadow: 11px 12px 0px -6px $buttonColor;
            background-color: #1b2533;
            .card-text{
                font-family: 'Open Sans';
                font-size: 13px;
            }
            .card-title{
                img{
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    margin-right: 7px;
                }
                p{
                    font-size: 13px;
                    font-weight: bold;
                    span{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

// start new div = poupup continare slider
.new-img_open{
    margin-top: 3rem;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.959);
    z-index: 100;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-img{
    width: 70vw;
    height: 70vh;
    z-index: 200;
}
.next-btn,.prev-btn{
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 12px;
    color: #fff;
    position: fixed;
    top: 58%;
    left: 5%;
    z-index: 202;
    border: 2px solid #fff;
    transition: all 0.4s ease-in-out;
}
.next-btn{
    left: 90%;
}

/* /-end gallery and team section */


/* start style for footer */
.footer-container{
    margin-top: 6rem;
    .logo{
        h6{
            a{
                font-family: "Carter One";
                font-size: 40px;
                text-decoration: none;
                color: $fontColor;
                text-shadow: 0px 5px 12px $hoverColor;
            }
        }
    }
    .contact{
        div:nth-child(1){
            img{
                height: 20px;
                margin-top: 6px;
            }
        }
        div:nth-child(3),
        div:nth-child(4){
            ul{
                li{
                    padding: 5px;
                    transition: all ease-in-out .4s;
                    &:hover{
                        text-shadow: 0px 3px 7px #fff;
                        cursor: pointer;
                        font-size: 17px;
                    }
                }
            }
        }
    }
    .copy-right{
        border-top: 1px solid $fontColor;
    }
}
/* /-end style for footer */















