$mainColor: #2c2640;
$secondColor: #f7f2f2;
$fontColor:#302e2e;
body{font-family: ui-monospace;}
.header{
    nav{
        ul{
            li{
                button{
                    background-color: $secondColor;
                    color: $mainColor;
                    &:hover{
                        background-color: $mainColor;
                        color: $secondColor;
                    }
                }
            }
        }
    }
}
/* intro section */
.intro{
    background-image: url('../img/bg-pattern-intro-right-desktop.svg') , url('../img/bg-pattern-intro-left-desktop.svg');
    background-position: top right, left bottom;
    background-repeat: no-repeat;
    height: 70vh;
    background-color: $mainColor;
    color: $secondColor;
    hr{
        width: 20%;
        background-color: $secondColor;
        height: 3px;
        margin: 35px 0;
    }
    button{
        background-color: $mainColor;
        color: $secondColor;
        border: 1px solid $secondColor;
        &:hover{
            background-color: $secondColor;
            color: $mainColor;
        }
    }
    .img{
        img{
            width: 100%;
        }
    }
}

@media(max-width:767px){
    .intro{
        background-size: 50%, 40% ;
        height: 100vh;
        
        button{
            background-color: $mainColor;
            color: $secondColor;
            border: 1px solid $secondColor;
            display: block;
            margin: 8px auto;
            &:hover{
                background-color: $secondColor;
                color: $mainColor;
            }
        }
        .img{
            background-color: $mainColor;
            border: 1px solid $mainColor;
            box-shadow: 0px 25px 13px -5px #beb6dc;
        }
    }
}
/* featurs section */
.featurs{
    margin-top: 150px;
    padding: 10px;
    hr{
        width: 20%;
        background-color: $mainColor;
        height: 3px;
        margin: 35px 0;
    }
    h2{
        margin: 50px 10px;
    }
    i{
        background-color: $mainColor;
        color: $secondColor;
        padding: 15px;
        border-radius: 50%;
    }
}

@media(max-width: 767px){
    .featurs{
        margin-top: 280px;
        padding: 10px;
        .border-bottom-small-screen{
            border-bottom: 1px solid $mainColor;
            margin-bottom: 20px;
        }
        hr{
            width: 20%;
            background-color: $mainColor;
            height: 3px;
            margin: 35px 0;
        }
        h2{
            margin: 20px 10px;
        }
        .center-sm-content{
            text-align: center;
        }
        i{
            background-color: $mainColor;
            color: $secondColor;
            padding: 15px;
            border-radius: 50%;
        }
    }
}

.find-out{
    background-image: url('../img/bg-pattern-how-we-work-desktop.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-color: $mainColor;
    color: $secondColor;
    margin-top: 50px;
    transform: skew(-12deg, -3deg);
    box-shadow: 11px 16px 13px 5px #5a4d86;
    button{
        background-color: $mainColor;
        color: $secondColor;
        border: 1px solid $secondColor;
        display: block;
        margin: 8px auto;
        &:hover{
            background-color: $secondColor;
            color: $mainColor;
        }
    }
}

@media(max-width:767px){
    .find-out{
        
        button{
            display: block;
            width: 80%
        }
    }
}


.footer{
    margin-top: 150px;
    padding: 40px 0;
    background-color: #fafafa;
    background-image: url('../img/bg-pattern-footer-desktop.svg');
    background-repeat: no-repeat;
    background-position: top left;

    .social{
        i{
            cursor: pointer;
            transition: all .4s ease-in-out;
            margin-right: 8px;
            &:hover{
                border: 1px solid $mainColor;
                border-radius: 50%;
                padding: 6px;
                color: $mainColor !important;
            }
        }
    }

    .footer-links{
        h6{
            margin: 22px 0px;
        }
        ul{
            li{
                padding: 5px 0;
                a{
                    color: $fontColor;
                    transition: all .5s ease-in-out;
                    &:hover{
                        color: $mainColor;
                        text-decoration: underline !important;
                    }
                }
            }
        }
    }
}




















