:root {
    --light-color: #ced1d4;
    --dark-color: #01030eeb;
    --text-color:#727272;
}




*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .7s ease-in-out;
}

hr{
    background-color: var(--dark-color);
}

.main-container{
    min-height: 100vh;
    background-color: var(--light-color);
    color: var(--text-color);
}

.main-container[data-theme="dark"] {
    background-color: var(--dark-color);
    color: var(--text-color);
}

/* dark and light mode style */
.main-container .mode{
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-container .mode .light-dark{
    background-color: var(--text-color);
    padding: 2px 10px;
    border: 1px solid var(--text-color);
    border-radius: 15px;
    width: 66px;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mode .light-dark .light{
    cursor: pointer;
    color: #ffae00;
    opacity: 1;
}

.mode .light-dark .dark{
    cursor: pointer;
    color: #2841ad;
    opacity: 0.4;
}
/* strat grid content style */
/* start recent testimonials section */
.content .recent-testimonial .img img{
    box-shadow: 11px 9px 17px -10px #dc3545;
}

.content .recent-testimonial .testi-text h4::before{
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 1.5em;
    margin-left: 10px;
    margin-right: 5px;
    border-top: 2px solid #dc3545;
}

@media(max-width:767px){
    .content .recent-testimonial .img img{
        width: 45%;
        margin: auto;
        display: block;
    }
}
/* end recent testimonials section */

/* start client testimonials section */
.content .client-testimonial .client-img img{
    cursor: pointer;
    width: 7%;
}
.content .client-testimonial .client-img .active{
    width: 8%;
    box-shadow: 11px 9px 17px -10px #dc3545;
}

.content .client-testimonial .clent-text .content-text{
    border-radius: 14px;
    display: none;
}

.content .client-testimonial .clent-text .active{
    display: block;
}

.content .client-testimonial .clent-text h4::before{
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 1.5em;
    margin-left: 10px;
    margin-right: 5px;
    border-top: 2px solid #dc3545;
}

@media(max-width:767px){
    .content .client-testimonial .client-img{
        text-align: center;
    }

    .content .client-testimonial .client-img img{
        width: 13%;
    }

    .content .client-testimonial .client-img .active{
        width: 14%;
        box-shadow: 11px 9px 17px -10px #dc3545;
    }
}













