<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ROOM HOMEPAGE</title>
        <!-- style css & helper library -->
        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="../content/css/abstract/bootstrap.min.css">
        <!-- MAIN STYLE-->
        <link rel="stylesheet" href="../content/css/main.css">
    </head>
    <body>
        <!-- start project eara -->
        <!-- header slider and navbar -->
        <div id="overlay"></div>
        <section class="slider position-relative">
            <div class="row m-0">
                <!-- slider content -->
                <div class="col-md-7 p-0">
                    <div class="slider-img position-relative">
                        <img src="../content/assets/image/desktop-image-hero-1.jpg" alt="" class="img-fluid">
                        <!-- navbar tabs /-links- -->
                        <nav class="main-navbar d-flex align-items-center">
                            <div class="nav-header d-flex justify-content-between">
                                <div class="logo">
                                    <img src="../content/assets/svg/logo.svg" alt="">
                                </div>
                                <div class="toggle-links">
                                    <img src="../content/assets/svg/icon-hamburger.svg" alt="">
                                </div>
                            </div>
                            <div class="navbar-links">
                                <ul class="links-item d-flex justify-content-between align-items-center list-unstyled m-0">
                                    <li class="btn-close"><img src="../content/assets/svg/icon-close.svg" alt=""></li>
                                    <li class="p-2"><a href="#" class="link-item active">home</a></li>
                                    <li class="p-2"><a href="#" class="link-item">shop</a></li>
                                    <li class="p-2"><a href="#" class="link-item">about</a></li>
                                    <li class="p-2"><a href="#" class="link-item">conect</a></li>
                                </ul>
                            </div>
                        </nav>
                        <div class="slider-btn d-flex">
                            <button type="button" class="btn btn-dark left-btn">
                                <img src="../content/assets/svg/icon-angle-left.svg" alt="">
                            </button>
                            <button type="button" class="btn btn-dark right-btn">
                                <img src="../content/assets/svg/icon-angle-right.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
                <!-- slider content -->
                <div class="col-md-5 d-flex justify-content-center align-items-center">
                    <div class="slider-content p-5">
                        <h2 class="title">Discover innovative ways to decorate</h2>
                        <p class="desc">We provide unmatched quality, comfort, and style for property owners across the country. 
                            Our experts combine form and function in bringing your vision to life. Create a room in your 
                            own style with our collection and make your property a reflection of you and what you love.
                        </p>
                        <a href="#" class="link-shop">
                            <span>Shop now</span>
                            <img src="../content/assets/svg/icon-arrow.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- /-end header slider and navbar -->
        <!-- about section -->
        <section class="about">
            <div class="row m-0 p-0">
                <!-- img left -->
                <div class="col-md-4 p-0 left-img">
                    <img src="../content/assets/image/image-about-dark.jpg" alt="" class="img-fluid">
                </div>
                <!-- about content -->
                <div class="col-md-4 content p-3">
                    <div class="container">
                        <h2 class="title">About our furniture</h2>
                        <p class="desc">Our multifunctional collection blends design and function to suit your individual taste.
                            Make each room unique, or pick a cohesive theme that best express your interests and what
                            inspires you. Find the furniture pieces you need, from traditional to contemporary styles
                            or anything in between. Product specialists are available to help you create your dream space.
                        </p>
                    </div>
                </div>
                <!-- img right -->
                <div class="col-md-4 p-0 right-img">
                    <img src="../content/assets/image/image-about-light.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </section>

        <!-- /-end project eara -->
        <!--BOOTSTRAP BUNDLE-->
        <script src="../content/js/abstract/bootstrap.bundle.min.js"></script>
        <!-- MAIN JS-->
        <script src="../content/js/main.js"></script>
    </body>
</html>