

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
    <link rel="stylesheet" href="../style/menu.css">
</head>
<body>
  <!-- start menu section -->
    <section class="menu-container">
      <!-- start menu title  and nder line -->
      <h2 class="menu-title">our menu</h2>
      <div class="under-line"></div>
      <!-- /-end menu title  and nder line -->

      <!-- start menu list (nav)  filter buttons -->
      <ul class="menu-list">
        <!-- <li class="list-item filter-btn" data-categgory="all">all</li>
        <li class="list-item filter-btn" data-categgory="burger">burger</li>
        <li class="list-item filter-btn" data-categgory="chicken">chicken</li>
        <li class="list-item filter-btn" data-categgory="pizza">pizza</li>
        <li class="list-item filter-btn" data-categgory="potatoes">potatoes</li>
        <li class="list-item filter-btn" data-categgory="sandwich">sandwich</li> -->
      </ul>
      <!-- /-end menu list (nav)  filter buttons -->

      <!-- start menu card items container -->
      <div class="menu-items">
        <!-- <div class="card-item">
          <div class="img">
            <img src="../image/burger.jpg" alt="burg"/>
          </div>
          <div class="food-information">
            <h6 class="food-title">burger<span class="price">$9.50</span></h6>
            <hr>
            <p class="food-description">
              <span>Fast food burger </span>is a type of mass-produced food designed for commercial resale and with a strong priority placed on "speed of service"
            </p>
          </div>
        </div> -->
      </div>
      <!-- /-end menu card items container -->
    </section>
    <!-- /-end menu section -->
    <script src="../js/menu.js"></script>
</body>
</html>