$mainColor : #674bb1;
$textCoor :#f5f4f4;

.register-component{
    font-family: sans-serif;
    background-color: $mainColor;
    background-image: url("../img/bg-desktop.svg");
    min-height: 100vh;
    hr{
        width: 15%;
        height: 2px;
        margin: auto;
        background-color: $textCoor;
    }
    
    .form-register{
        .form{
            border: 1px solid $textCoor;
            border-radius: 10px;
            .form-label{
                font-family: sans-serif;
                color: $textCoor;
            }
            .form-control:focus{
                color: #dd53d7;
                border-color: $textCoor;
                outline: 0;
                box-shadow: 5px 5px 6px 4px #f253ca7a;
            }
            button{
                transition: all .8s ease-in-out;
                padding: 7px 40px;
                color: $mainColor;
                margin: 10px auto;
                &:hover{
                    box-shadow: 5px 5px 6px 4px #f253ca7a;
                }
            }
            .social-register{
                display: flex;
                justify-content: center;
                div{
                    transition: all .8s ease-in-out;
                    color: $textCoor;
                    cursor: pointer;
                    padding: 6px;
                    border: 1px solid $textCoor;
                    border-radius: 50px;
                    margin: 10px;
                    width: 37px;
                    height: 37px;
                    text-align: center;
                    &:hover{
                        color: #fe50bf;
                        border-color: #fe50bf;
                        box-shadow: 5px 5px 6px 4px #f253ca7a;
                    }
                }
                
            }
        }

    }
}