<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flyo</title>
        <!-- style css & helper library -->
        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="../content/css/abstract/bootstrap.min.css">
        <!-- MAIN STYLE-->
        <link rel="stylesheet" href="../content/css/main.css">
    </head>
    <body>
        <!-- start header -->
        <header class="main-header d-flex justify-content-center">
            <!-- start navbar -->
            <nav class="nav-container" id="nav-container">
                <div class="container d-flex justify-content-between">
                    <div class="logo">
                        <h6><a href="./master.html">FYLO</a></h6>
                    </div>
                    <div class="menu-toggle" id="mobail-menu">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                    <ul class="nav-menu list-unstyled d-flex justify-content-evenly align-items-center m-0 text-capitalize">
                        <li><a href="./featuers.html" class="nav-links">featuers</a></li>
                        <li><a href="./team.html" class="nav-links active">team</a></li>
                        <li><a href="#" class="nav-links btn-sign">sing up</a></li>
                    </ul>
                </div>
            </nav>
            <!-- /-end navbar -->
        </header>
        <!-- /-end header -->

        <!-- start featuers section -->
        <div class="team-containrt">
            <div class="container mt-5">
                <h2 class="team-section-heading">Some members of the team.</h2>
                <div class="team-imgs">
                    <div class="img-cell">
                        <img src="../content/assets/image/team-1.jpg" alt="" class="img-cell-item">
                    </div>
                    <div class="img-cell">
                        <img src="../content/assets/image/team-2.jpg" alt="" class="img-cell-item">
                    </div>
                    <div class="img-cell">
                        <img src="../content/assets/image/team-3.jpg" alt="" class="img-cell-item">
                    </div>
                    <div class="img-cell">
                        <img src="../content/assets/image/team-4.jpg" alt="" class="img-cell-item">
                    </div>
                    <div class="img-cell">
                        <img src="../content/assets/image/team-5.jpg" alt="" class="img-cell-item">
                    </div>
                </div>
                <div class="row justify-content-between mt-5 team-info">
                    <div class="col-md-4 mb-3">
                        <div class="team-card">
                            <p class="card-text">Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.</p>
                            <div class="card-title d-flex">
                                <img src="../content/assets/image/profile-1.jpg" alt="" class="">
                                <p>Satish Patel <br> <span>Founder & CEO, Huddle</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="team-card">
                            <p class="card-text">Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.</p>
                            <div class="card-title d-flex">
                                <img src="../content/assets/image/profile-2.jpg" alt="" class="">
                                <p>Bruce McKenzie <br> <span>Founder & CEO, Huddle</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="team-card">
                            <p class="card-text">Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.</p>
                            <div class="card-title d-flex">
                                <img src="../content/assets/image/profile-3.jpg" alt="" class="">
                                <p>Iva Boyd <br> <span>Founder & CEO, Huddle</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /-end featuers section -->
        <!-- start main footer -->
        <footer class="footer-container p-2">
            <div class="container">
                <div class="logo">
                    <h6><a href="#">FYLO</a></h6>
                </div>
                <div class="row mt-5 contact">
                    <div class="col-md-4 p-2 d-flex">
                            <img src="../content/assets/svg/icon-location.svg" alt="" class="me-2">
                            <span>Aga - Dakahlia Egype <br/>Mansura - Mit Ghamr Rd</span>
                    </div>
                    <div class="col-md-4 p-2">
                        <p>
                            <img src="../content/assets/svg/icon-phone.svg" alt="phone" class="me-2">
                            <span>+1-543-123-4567 </span>
                        </p>
                        <p>
                            <img src="../content/assets/svg/icon-email.svg" alt="email" class="me-2">
                            <span>example@fylo.com</span>
                        </p>
                    </div>
                    <div class="col-md-2 p-2">
                        <ul class="list-unstyled text-capitalize">
                            <li>about us</li>
                            <li>jobs</li>
                            <li>press</li>
                            <li>blog</li>
                        </ul>
                    </div>
                    <div class="col-md-2 p-2">
                        <ul class="list-unstyled text-capitalize">
                            <li>contact us</li>
                            <li>terms</li>
                            <li>privacy</li>
                        </ul>
                    </div>
                </div>
                <div class="copy-right text-capitalize text-center p-3">
                    <p>&copy; yasser saiid 2020</p>
                </div>
            </div>
        </footer>
    <!-- /-end main footer -->

        <!-- js script helper -->
        <!--BOOTSTRAP BUNDLE-->
        <script src="../content/js/abstract/bootstrap.bundle.min.js"></script>
        <!--main script-->
        <script src="../content/js/main.js"></script>
    </body>
</html>